<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="">
    <meta property="og:description" content="">

    <title>To do list</title>

    <!-- Bootstrap core CSS -->
    <link href=" " rel="stylesheet" crossorigin="anonymous"> 

    <link rel="icon" href="images/favicon.ico">

    <style>

    </style>

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">
  </head>
  <body class="text-center">

    <h1>It's a <%= kindOfDay %>!</h1>
    <p>Why are you not working?</p>

    <script src=" " crossorigin="anonymous"></script>
    <script>
      const d = new Date();
      var year = d.getFullYear();
      document.getElementById("copyright").innerHTML = "&copy; " + year + " Hristian";
    </script>

  </body>
</html>
